<turbo-stream action="replace" target="reviews">
  <template>
    <%= render partial: "books/reviews", formats: [:html], locals: { reviews: @reviews, book: @book } %>
    <div class="d-flex justify-content-center">
      <%= paginate @reviews %>
    </div>
  </template>
</turbo-stream>